/* PAGE HEADER */
.page-header {
    padding: 140px 20px 60px;
    background: radial-gradient(circle, #ff9800, #0d0d0d);
    color: #000;
  }
  
  .page-header h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
  }
  
  /* VIDEO CARD */
  .video-card {
    background: #1a1a1a;
    border-radius: 15px;
    padding: 15px;
    transition: 0.3s;
  }
  
  .video-card iframe {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    border: none;
  }
  
  .video-card h5 {
    color: #ffc107;
    margin-top: 15px;
    text-align: center;
  }
  
  .video-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 25px rgba(255,152,0,0.5);
  }
  
  .video-card {
    position: relative;
    cursor: pointer;
  }
  
  .video-card img {
    width: 100%;
    border-radius: 12px;
  }
  
  .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 14px 18px;
    border-radius: 50%;
    font-size: 22px;
  }
  
  .play-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    color: white;
    text-shadow: 0px 0px 8px rgba(0,0,0,0.7);
  }
  